@model OnlineBidding.Web.ViewModels.AuctionsListViewModel
<div class="row">

    <div class="col-lg-12" id="tableDiv">
        <div>
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#formModal" id="newBtn">Add New Auction</button>
        </div>

        <table class="table table-hover">

            <tr>
                <th>
                    Title
                </th>
                <th>
                    Picture Url
                </th>
                <th>
                    Description
                </th>
                <th>
                    Actual Amount
                </th>
                <th>
                    Starting Time
                </th>
                <th>
                    Ending Time
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.AllAuctions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PictureUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActualAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartingTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndingTime)
                    </td>
                    <td>
                        <button class="editBtn btn btn-success" data-id="@item.ActionId" data-toggle="modal" data-target="#formModal">Edit</button> |
                        <button class="deleteBtn btn btn-danger" data-id="@item.ActionId">Delete</button> |
                    </td>
                </tr>
            }

        </table>



        <script>

            $('#newBtn').click(function () {
                $.ajax({
                    url:  "@Url.Action("Create","Auctions")",
                    type: "Get"
                }).done(function (response) {

                    $("#auctionForm").html(response);
                   
                    $("#formModal").modal("toggle");
                });

            });

            $('.editBtn').click(function () {
                $.ajax({
                    url:  "@Url.Action("Edit","Auctions")",
                    method: "Get",
                    data: { id: $(this).attr('data-id') }
                }).done(function (response) {
                   
                    $("#auctionForm").html(response);
                    $("#formModal").modal("toggle");
                   
                   
                });

            });

            $('.deleteBtn').click(function () {
                var result = confirm('Are You sure to delete this auction?');
                if (result == true) {
                    $.ajax({
                        url: "@Url.Action("Delete","Auctions")",
                        method: "Get",
                        data: { id: $(this).attr('data-id') }
                    }).done(function (response) {
                       
                        $("#tableDiv").html(response);
                     
                    });
                }
               

            });


        </script>


    </div>


</div>

<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="auctionForm">

        </div>
    </div>
</div>
